examples/even-number-of-ones/*.txt linguist-detectable=true
examples/even-number-of-ones/*.c linguist-detectable=true

examples/recognize-strings-ending-with-ab/*.txt linguist-detectable=true
examples/recognize-strings-ending-with-ab/*.c linguist-detectable=true

lib/safety/sstring/core/*.c linguist-detectable=false